<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <% if task.completed == true %>
    <p><input type="checkbox" checked> <%= link_to task.title, task_path(task) %></p>
    <%= link_to "Delete #{task.title}",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% else %>
    <p><input type="checkbox"> <%= link_to task.title, task_path(task) %></p>
    <%= link_to "Delete #{task.title}",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<hr>

<%= link_to '+ Add a new task', new_path %>